# YYC traffic incident prediction

This noteboook is a description and implementaion of of using machine learning to predict traffic indicents in the city of calgary using the publicaly available traffic incident data

Given the location and the average temprature for the day this model will predict the probability of incident

### Lets load the incident data from the two different files into a single file
Sice we only have data from 2016 there won't be a ton of data

In [25]:
import pandas as pd
import numpy as np

In [150]:
def format_description(description):
    if "multi" in description.lower():
        return "multi"
    elif "pedestrian" in description.lower():
        return "pedestrian"
    elif "2" in description.lower():
        return "double"
    elif "single" in description.lower():
        return "single"

In [215]:
f2017 = pd.read_csv('data/2017.csv')
f2016 = pd.read_csv('data/2016.csv')
data = pd.concat([f2017, f2016])

print ('Number of rows 2016: {}'.format(f2016.size))
print ('Number of rows 2017: {}'.format(f2017.size))
print ('Number of rows total: {}'.format(data.size))

# formats lat and long to have 4 decimals only
data['Longitude'] = data['Longitude'].map('{:.3f}'.format).astype(float)
data['Latitude'] = data['Latitude'].map('{:.3f}'.format).astype(float)

# removes time from date since we are not going to use the time
data['START_DT'] = data['START_DT'].str.split(' ').str[0]

# formats incident type and removes rows that do not match any type
data['incident'] = data['DESCRIPTION'].map(format_description)
data = data[data.incident.notnull()]

# creates maps from lat,long to addr and viceversa
gps_to_addr = {(lat,lon): addr for lon, lat, addr in zip(data['Longitude'],data['Latitude'], data['INCIDENT INFO'])}
addr_to_gps = {gps_to_addr[k]:k  for k in gps_to_addr.keys()}


# dropping descrption, modified, quadrant, location and count
data = data.drop(data.columns[[0,1,2,3,4,7,8]], axis=1)
data[:5]

Number of rows 2016: 2853
Number of rows 2017: 10962
Number of rows total: 13815

   Longitude  Latitude    incident
0   -114.048    50.964      double
1   -114.005    51.015  pedestrian
2   -114.039    50.994      double
3   -114.005    51.015       multi
4   -114.053    51.050      double

### Creating the data for our model ( X and Y)

In [218]:
def load_data(data):
    y = pd.get_dummies(data['incident']) # one hot encoding for labels
    
    # scaling features
    quant_features = ['Longitude', 'Latitude']
    # Store scalings in a dictionary so we can convert back later
    scaled_features = {}
    for each in quant_features:
        mean, std = data[each].mean(), data[each].std()
        scaled_features[each] = [mean, std]
        data.loc[:, each] = (data[each] - mean)/std
    
    x = np.array(data)
    y = np.array(y)
    row = round(0.9 * result.shape[0])

    x_train = x[:int(row), :-1]
    y_train = y[:int(row)]

    x_test = x[int(row):, :-1]
    y_test = y[int(row):]
    
    print('x_train', x_train.shape)
    print('y_train', y_train.shape)
    print('x_test', x_test.shape)
    print('y_test', y_test.shape)
    
    return [x_train, y_train, x_test, y_test]

# call to create X and Y
x_train, y_train, x_test, y_test = load_data(data)

### Building model structure

In [ ]:
def build_model():

In [145]:


data.groupby(['Longitude','Latitude']).count()

                    INCIDENT INFO  DESCRIPTION  START_DT  QUADRANT  incident
Longitude Latitude
-113.919  51.068                1            1         1         1         0
-113.920  51.068                1            1         1         1         0
          51.073                1            1         1         1         1
-113.922  51.137                1            1         1         1         0
          51.144                1            1         1         1         0
-113.929  50.949                2            2         2         2         0
          50.980                2            2         2         2         0
          51.038                2            2         2         2         1
          51.154                2            2         2         2         0
-113.930  51.015                3            3         3         3         2
          51.067               11           11        11        11         2
-113.933  50.923                1            1         1         1         1
          51.111                1            1         1         1         0
-113.935  50.980                2            2         2         2         2
          51.046                2            2         2         2         1
          51.052                1            1         1         1         1
          51.060                1            1         1         1         1
          51.108                2            2         2         2         2
          51.111                2            2         2         2         1
          51.154                2            2         2         2         1
-113.936  51.052                5            5         5         5         3
          51.082                1            1         1         1         0
          51.092                2            2         2         2         2
-113.937  51.096                3            3         3         3         1
          51.125                2            2         2         2         2
-113.938  50.914                1            1         1         1         1
          51.067                2            2         2         2         2
-113.941  51.082                2            2         2         2         1
-113.942  50.885                1            1         1         1         0
          50.906                1            1         1         1         0
...                           ...          ...       ...       ...       ...
-114.189  51.081                1            1         1         1         0
-114.195  51.127                2            2         2         2         2
-114.196  51.014                2            2         2         2         0
-114.198  51.124                2            2         2         2         2
-114.199  51.060                1            1         1         1         1
          51.067                1            1         1         1         1
-114.203  51.018                2            2         2         2         2
          51.120                2            2         2         2         1
-114.204  51.118                1            1         1         1         1
-114.205  51.118                1            1         1         1         1
-114.207  51.116                2            2         2         2         0
-114.209  51.084                1            1         1         1         0
-114.210  51.147                3            3         3         3         2
-114.211  51.038                1            1         1         1         0
          51.052                1            1         1         1         0
          51.065                1            1         1         1         0
          51.067                2            2         2         2         2
-114.213  51.125                1            1         1         1         0
-114.214  51.150                1            1         1         1         1
-114.216  51.085                1            1         1         1         0
          51.149                1            1         1         1         0
-114.217  51.105                3            3         3         3         0
-114.226  51.107                2            2         2         2         1
-114.230  51.100                1            1         1         1         1
-114.233  51.096                1            1         1         1         0
-114.234  51.134                3            3         3         3         1
-114.253  51.088                1            1         1         1         1
          51.149                1            1         1         1         1
-114.257  51.143                2            2         2         2         2
-114.310  51.121                1            1         1         1         0

[814 rows x 5 columns]